<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">

	<display-name>App</display-name>
	<description>App</description>


	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>track</servlet-name>
		<servlet-class>nohorjo.trackip.TrackIP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>track</servlet-name>
		<url-pattern>/content</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>urlgen</servlet-name>
		<servlet-class>nohorjo.urlgen.URLGenerator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>urlgen</servlet-name>
		<url-pattern>/urlgen</url-pattern>
	</servlet-mapping>
	<!-- <servlet> <servlet-name></servlet-name> <servlet-class></servlet-class> 
		</servlet> <servlet-mapping> <servlet-name></servlet-name> <url-pattern></url-pattern> 
		</servlet-mapping> -->

	<!-- <filter> <filter-name></filter-name> <filter-class></filter-class> 
		</filter> <filter-mapping> <filter-name></filter-name> <url-pattern></url-pattern> 
		</filter-mapping> -->

</web-app>
